//SASS PAGE
$base-color: #ff0006;
$blac-color:#212121;
$back-opacity: rgb(0, 0, 0,.8);
$white-kolor: #fff;
$blue-grey : rgb(239 242 250/1);
$blue:#003464;


.about{
    width: 80%;
    margin: auto;
    text-align: start;

    .about-card{
        width: 80%;
        margin: 10px auto;
        // background-color: red;
        height: auto;
        display: flex;
        border: 1px solid grey;
        // border-radius: 2px;
        .pic{
            width: 30%;
            height: 190px;
            background-color: $blue-grey;
        }
        .note{
            width: 60%;
            text-align: start;
            margin-left: 5px;
            p{color: grey;}
        }
    }
    .vl{
        h1{
            font-size: 25px;
        }
        p{
            span{
                color: grey;
            } 
        }
    }
}


@media screen and (max-width:600px) {
    .our{
        // h1{}
        div{
            width: 95%;
            margin: auto;
            height: 350px;
            background: rgba(11, 24, 11, 0.8);
        }
    }
    .about-card{
        width: 95%;
        margin: 10px auto;
        // background-color: red;
        height: auto;
        display: flex;

        .note{
            width: 60%;
            text-align: start;
            margin-left: 5px;
            p{color: grey;}
        }
    }
}