//SASS PAGE
$base-color: #ff0006;
$blac-color:#212121;
// $back-opacity: rgb(33, 33, 33,.9);
$back-opacity: rgb(0, 0, 0,.6);
$white-kolor: #fff;
$white-opacity:#f9f9f9;
$blue-grey : rgb(239 242 250/1);
$blue:#003464;

.banner1{
    background: url('../assets/t.jpg');
    background-size: cover;
    // background: $blue;
    height: 450px;
    width: 100%;
    margin: 0px;

    .cover-short{
        width: 100%;
        height: 100%;
        background: $back-opacity;
        // padding: 2px 1px;
        color: $white-kolor;
        text-align: center;
        h1{
            padding-top: 210px;
            font-size: 50px;
            // font-weight: 400;
            margin: 0;
            color: $white-kolor;
        }
        p{
            font-size: 17px;
            color: $white-kolor;
        }
    }
}


@media screen and (max-width:1024px) {
    
}

@media screen and (max-width:600px) {
    .banner1{
        height: 320px;
    
        .cover-short{
            h1{
                padding-top: 180px;
                font-size: 30px;
                margin: 0;
            }
            p{
                font-size: 15px;
                color: grey;
                font-weight: 500;
            }
        }
    }
    
}

@media screen and (max-width:200px) {
     
}