.cont{
    width: 80%;
    height: auto;
    margin: 20px auto;
    // background: red;
    display: flex;
    flex-direction: column;

    .kart{
        width: 100%;
        height: auto;
        display: block;
        align-items: center;
        padding: 2px 10px;
        
        text-align: start;

        .pic{
            font-size: 25px;
            // border-radius: 50%;
            // background-color: blue;
        }
        .note{
            
            h2{
                margin: 2px;
                font-size: 20px;
            }
            P{
                font-size: 17px;
            }
        }
    }
}
@media screen and (max-width:600px) {
    .cont{
        width: 60%;
        margin: 20px auto 2px;
        // background: red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        .kart{
            border: 1px solid grey;
            border-radius: 4px;
            display: flex;
            height: 40px;
            align-items: center;
            gap: 4px;
            padding: 2px 4px;
            .pic{
                font-size: 25px;
                // border-radius: 50%;
                // background-color: blue;
            }
            .note{
                font-size: 17px;
            }
        }
    }
}