$blue:#006cd1;

.pro{
    width: 80%;
    margin: 20px auto;
    // align-items: start;

    .kar{
        width: 100%;
        margin: 10px auto;
        // background-color: red;
        // height: auto;
        display: block;
        // border: 2px solid grey;
        text-align: start;
        border-radius: 5px;
        .pic{
            width: 20%;
            // margin: auto;
            // background: red;
            margin-top: 13px;
            font-size: 27px;
        }
        .note{
            p{
                font-size: 20px;
            }
        }
    }

    .btn{
        background: none;
        color:$blue;
        border: 1px solid$blue;
        padding:8px 17px;
        cursor: pointer;
        border-radius: 4px;
        &:hover{
            background: $blue;
            color:#fff;
            border: 1px solid $blue;
        }

    }
}


@media screen and (max-width: 600px) {
    .pro{
        width: 90%;
        margin: auto;
        // background: red;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 5px;

        .kar{
            width: 100%;
            margin: 10px auto;
            // background-color: red;
            // height: auto;
            display: block;
            // border: 2px solid grey;
            text-align: start;
            border-radius: 5px;
            .pic{
                width: 20%;
                // margin: auto;
                // background: red;
                margin-top: 13px;
                font-size: 27px;
            }
            .note{}
        }
        
    } 
}